# Only accessible from the server component or sever functions
BACKEND_API_URL=http://localhost:3000

# Accessible from the client & server component or server functions
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:3000